***  ***
Create a copy of this file and fill in the username/password. You need the password that you created in class and gave us

In [ ]:
!pip install mysqlclient

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: mysqlclient in /usr/local/lib/python3.7/dist-packages (2.1.1)

In [ ]:
%load_ext sql

In [ ]:
# Enter team name (team4) and password below to check connection
%sql mysql://team4:Pixel4a@badm-database.cte4bvaqxbgn.us-east-2.rds.amazonaws.com:3306

'Connected: team4@None'

In [ ]:
%sql show databases

 * mysql://team4:***@badm-database.cte4bvaqxbgn.us-east-2.rds.amazonaws.com:3306
2 rows affected.

[('information_schema',), ('team4',)]

In [ ]:
# your team name is the same as your schema/database name
%sql use team4

 * mysql://team4:***@badm-database.cte4bvaqxbgn.us-east-2.rds.amazonaws.com:3306
0 rows affected.

[]

In [ ]:
# The first time you run this, there should be no tables in the schema/database 
%sql show tables;

 * mysql://team4:***@badm-database.cte4bvaqxbgn.us-east-2.rds.amazonaws.com:3306
5 rows affected.

[('business',), ('checkin',), ('review',), ('tip',), ('user',)]

In [ ]:
! pip install kaggle

In [ ]:
from google.colab import files
files.upload()

In [ ]:
!rm -r ~/.kaggle
! mkdir ~/.kaggle
! cp kaggle.json ~/.kaggle/
!chmod 600 /root/.kaggle/kaggle.json
! kaggle datasets list

In [ ]:
!chmod 600 /root/.kaggle/kaggle.json
!kaggle datasets download -d yelp-dataset/yelp-dataset

In [ ]:
!mkdir my_yelp

In [ ]:
! unzip yelp-dataset.zip -d my_yelp

In [ ]:
import pandas as pd
import json

In [ ]:
checkin = pd.read_json("my_yelp/yelp_academic_dataset_checkin.json", lines=True, orient='columns')
business = pd.read_json("my_yelp/yelp_academic_dataset_business.json",lines=True, orient='columns')
tip = pd.read_json("my_yelp/yelp_academic_dataset_tip.json", lines=True, orient='columns')

In [ ]:
import pandas as pd
path = "my_yelp/yelp_academic_dataset_review.json"
reviews = pd.DataFrame()
with  pd.read_json(path, lines= True, chunksize = 2000000) as review_json:
    for r in review_json:
        reviews = r
        break;


reviews.info()

In [ ]:
path2 = "my_yelp/yelp_academic_dataset_user.json"
users = pd.DataFrame()
with  pd.read_json(path2, lines= True, chunksize = 20000) as user_json:
    for r in user_json:
        users = r
        break;
        
users.head()

#Query1
In this query we are finding the user footprints of restaurants of different categories of different states to understand the business of restaurants in different places.

In [ ]:
%%sql

select b.name, count(distinct(r.user_id)) as no_of_users, b.categories, b.state
from business b 
left join review r on b.business_id= r.business_id 
left join user u on r.user_id= u.user_id
where b.categories LIKE "Rest%"
group by 1
order by 2 desc
limit 50

 * mysql://team4:***@badm-database.cte4bvaqxbgn.us-east-2.rds.amazonaws.com:3306
50 rows affected.

[('The Pancake Pantry', 383, 'Restaurants, Sandwiches, Food, Breakfast & Brunch, Bakeries', 'TN'),
 ('Prep & Pastry', 340, 'Restaurants, Cocktail Bars, Bars, Comfort Food, American (New), Sandwiches, Nightlife, Breakfast & Brunch', 'AZ'),
 ('Han Dynasty', 293, 'Restaurants, Chinese, Szechuan', 'PA'),
 ("Katie's Restaurant & Bar", 210, 'Restaurants, Bars, Nightlife, American (Traditional), Cajun/Creole, Seafood', 'LA'),
 ('Khyber Pass Pub', 191, 'Restaurants, American (Traditional), Bars, Pubs, Nightlife, Gastropubs', 'PA'),
 ('Burger Up', 172, 'Restaurants, American (New), Sandwiches, Burgers', 'TN'),
 ('Federal Donuts', 167, 'Restaurants, Korean, American (Traditional), Breakfast & Brunch, Donuts, Food, Coffee & Tea', 'PA'),
 ('The Cake Bake Shop by Gwendolyn Rogers-Broad Ripple Village', 161, 'Restaurants, Bakeries, Desserts, Patisserie/Cake Shop, American (Traditional), Cafes, Coffee & Tea, Cupcakes, French, Sandwiches, Food, American (New), Breakfast & Brunch', 'IN'),
 ('Pub & Kitchen', 139, 'Restaurants, Pubs, Food, Bars, American (New), Nightlife', 'PA'),
 ('La Colombe Coffee', 133, 'Restaurants, Food, Coffee & Tea', 'PA'),
 ('Bareburger - Midtown Village', 129, 'Restaurants, Burgers, American (New), Food, American (Traditional), Nightlife, Bars, Cocktail Bars, Salad', 'PA'),
 ('The Blue Duck', 128, 'Restaurants, American (New), Burgers, Breakfast & Brunch, Sandwiches', 'PA'),
 ('Marrakesh', 124, 'Restaurants, Mediterranean, Moroccan', 'PA'),
 ('Ants Pants Café', 117, 'Restaurants, Coffee & Tea, Sandwiches, Desserts, Food, Breakfast & Brunch', 'PA'),
 ('312 Pizza Company', 116, 'Restaurants, Caterers, Italian, Hot Dogs, Pizza, Event Planning & Services, Sandwiches', 'TN'),
 ('Ralphs Italian Restaurant', 115, 'Restaurants, Italian', 'PA'),
 ('Blue Sage Vegetarian Grille', 110, 'Restaurants, Vegan, Vegetarian', 'PA'),
 ('Crazy Sushi', 110, 'Restaurants, Japanese, Sushi Bars', 'PA'),
 ("Li'l Dizzy's Cafe", 110, 'Restaurants, Cajun/Creole', 'LA'),
 ('Brick House Tavern + Tap', 108, 'Restaurants, Burgers, American (Traditional), Bars, Pubs, Nightlife', 'FL'),
 ('Sbraga', 108, 'Restaurants, American (New)', 'PA'),
 ('Cafe Pontalba', 106, 'Restaurants, Cajun/Creole, Seafood', 'LA'),
 ('Chipotle Mexican Grill', 95, 'Restaurants, Fast Food, Mexican', 'AZ'),
 ('Saki Endless Sushi & Hibachi Eatery', 94, 'Restaurants, Salad, Sushi Bars, Soup, Japanese', 'FL'),
 ("Beck's Cajun Cafe", 91, 'Restaurants, Cajun/Creole', 'PA'),
 ('Khmer Kitchen', 89, 'Restaurants, Cambodian', 'PA'),
 ('Siam Elephant', 85, 'Restaurants, Thai', 'CA'),
 ("Zorba's Taverna", 79, 'Restaurants, Greek, Mediterranean', 'PA'),
 ("Maggie Mae's Sunrise Cafe", 78, 'Restaurants, Breakfast & Brunch', 'FL'),
 ('TacoSon', 75, 'Restaurants, Mexican', 'FL'),
 ('Tired Hands Fermentaria', 75, 'Restaurants, Food, Beer, Wine & Spirits, Breweries, Mexican', 'PA'),
 ('Outback Steakhouse', 73, 'Restaurants, Steakhouses', 'FL'),
 ('Sher-e-Punjab', 73, 'Restaurants, Salad, Pakistani, Indian, Cocktail Bars, Food, Food Delivery Services, Soup, Halal, Bars, Nightlife', 'AZ'),
 ('Jazmine', 72, 'Restaurants, Chinese, Asian Fusion, Sushi Bars', 'NV'),
 ('Moto Cucina + Enoteca', 72, 'Restaurants, Italian', 'TN'),
 ('BK Tacos', 71, 'Restaurants, Tacos, Mexican, Hot Dogs, Breakfast & Brunch, Steakhouses', 'AZ'),
 ('Refuel Cafe', 71, 'Restaurants, Sandwiches, Breakfast & Brunch, Wraps', 'LA'),
 ("Landry's Seafood House", 68, 'Restaurants, Steakhouses, American (Traditional), Seafood', 'MO'),
 ('Sauce on the Side', 68, 'Restaurants, Italian, Salad', 'MO'),
 ("Zeko's Mediterranean Grill", 67, 'Restaurants, Falafel, Fast Food, Mediterranean, Middle Eastern, Halal, Greek', 'FL'),
 ('Bab Café - Reno', 66, 'Restaurants, Cafes, Korean, Gluten-Free, Comfort Food, Vegetarian, Vegan, Chicken Wings', 'NV'),
 ("Caruso's", 64, 'Restaurants, Italian, Pizza', 'AZ'),
 ('Yah Mon', 63, 'Restaurants, Caribbean', 'FL'),
 ('Saigon Restaurant', 62, 'Restaurants, Food, Vietnamese', 'IN'),
 ('Porcini', 61, 'Restaurants, Italian', 'PA'),
 ('Redwood Rotisserie + Grill', 61, 'Restaurants, American (New), Cocktail Bars, Bars, Tex-Mex, American (Traditional), Barbeque, Nightlife', 'NV'),
 ('Café at The Square', 60, 'Restaurants, American (Traditional)', 'LA'),
 ("Ghini's French Caffe", 58, 'Restaurants, Food, Breakfast & Brunch, Sandwiches, French, Bakeries, Salad', 'AZ'),
 ('Skyway Cafe', 58, 'Restaurants, Breakfast & Brunch', 'FL'),
 ('Taco Bell', 58, 'Restaurants, Fast Food, Tex-Mex, Mexican', 'IN')]

# Query 2:
This query will help us see how many popular restaurants are present based on the top reviews in PA. This will help us get a sense of the taste in users in our location of interest in Philly since we see a lot of users having footprints in PA. Let's look at PA at a deeper level on its restaurants and users.

In [ ]:
%%sql 
select name, categories, stars, review_count
from business
where stars > 4
AND categories LIKE "Rest%"
AND state = "PA"
ORDER BY 3 DESC
limit 10;

 * mysql://team4:***@badm-database.cte4bvaqxbgn.us-east-2.rds.amazonaws.com:3306
10 rows affected.

[('Core de Roma', 'Restaurants, Italian', 5.0, 12),
 ("Punk'd Pineapple", 'Restaurants, Food, Food Stands, Ice Cream & Frozen Yogurt', 5.0, 8),
 ('Rasavat', 'Restaurants, Indian', 5.0, 28),
 ('El Guero  Mexican Food Truck', 'Restaurants, Mexican', 5.0, 7),
 ('O blue café', 'Restaurants, Cafes', 5.0, 11),
 ('Tuk Tuk Thai Kitchen', 'Restaurants, Thai', 5.0, 10),
 ('Jade Palace', 'Restaurants, Chinese', 5.0, 6),
 ('A&M Factory', 'Restaurants, Breakfast & Brunch, Gluten-Free, Cafes, Food, Juice Bars & Smoothies', 5.0, 57),
 ('Pho Mi Rittenhouse', 'Restaurants, Vietnamese', 5.0, 20),
 ("Vince's Pizzeria of Fishtown", 'Restaurants, Pizza', 5.0, 22)]

In [ ]:
t3 = business[(business['stars']>4) & (business['categories'].str.contains('Rest')) & 
              (business['state'] == "PA")][['name', 'categories', 'stars', 'review_count']].sort_values(by = ['stars', 'review_count'], ascending = False)

t3.head(10)

#Query 3:
This query will help us to know resturants that are still open in Philly and their respective stars. This will help us understand the resturants that are currently running and how they are doing wrt people's reviews and business. We can understand about any particular food cusine resturant which is not doing that well and optimise on starting that food cusine resturant in the area.

Clearly the cost of establishment of fast food chains is lesser and we can seize the oppurtunity of keeping a fast food chain which can gather good reviews.

In [ ]:
%%sql

select business_id,name,categories, is_open, stars
from business
where categories LIKE "Rest%" 
AND is_open=1 
AND state = "PA"
ORDER BY 5
limit 25;

 * mysql://team4:***@badm-database.cte4bvaqxbgn.us-east-2.rds.amazonaws.com:3306
25 rows affected.

[('dm9UbH8XPAP6735lHRYILA', "Ruby's Roof Jamaican Restaurant", 'Restaurants, Caribbean', 1, 1.0),
 ('aVRVBncwdK3GrqLKLFPKAg', 'Paradise Pizzeria', 'Restaurants, Pizza', 1, 1.0),
 ('o5r-Q1NcXKq4ZhV1J6F5fA', 'Wingstop', 'Restaurants, Chicken Wings', 1, 1.0),
 ('7j-s7IsivJLszx0s0w_QNw', 'Montego Grill', 'Restaurants, Bars, Trinidadian, Nightlife, Caribbean, Chicken Wings', 1, 1.0),
 ('PZP5Uk5Ratw9c_t8Ao22Bw', "Wendy's", 'Restaurants, Fast Food, Burgers', 1, 1.0),
 ('qaEqiGzQ67ief_yoKP97Hw', "McDonald's", 'Restaurants, Coffee & Tea, Food, Burgers, Fast Food', 1, 1.0),
 ('tIrKQRlAft3cytlm4khnKQ', 'Taco Bell', 'Restaurants, Tex-Mex, Mexican, Fast Food, Tacos', 1, 1.0),
 ('noRCd744AD5cAT0nuq5Aaw', "McDonald's", 'Restaurants, Coffee & Tea, Burgers, Fast Food, Food', 1, 1.0),
 ('ogoe6WcXJnW96rvc3NyMfw', 'Burger King', 'Restaurants, Burgers, Fast Food', 1, 1.0),
 ('NxB8M1wnJQ5xoXDiUgqmIg', 'Burger King', 'Restaurants, Burgers', 1, 1.0),
 ('aNXw3PkXVt8ANwLyCfcmpg', "McDonald's", 'Restaurants, Fast Food, Burgers, Food, Coffee & Tea', 1, 1.5),
 ('kLSEk3qXY1KdtFjxHJ9pww', "McDonald's", 'Restaurants, Fast Food, Food, Coffee & Tea, Burgers', 1, 1.5),
 ('7biQIoyOEMcBGUw106UeOQ', "Domino's Pizza", 'Restaurants, Sandwiches, Chicken Wings, Pizza', 1, 1.5),
 ('a8Q2bvUW6mAiws7xW7cS6g', 'KFC', 'Restaurants, Fast Food, Chicken Wings, Chicken Shop', 1, 1.5),
 ('zSEqhlaHqY8sIDxznturEQ', "McDonald's", 'Restaurants, Fast Food, Food, Burgers, Coffee & Tea', 1, 1.5),
 ('UhIdCsdiWS4K0EkbvVdlAw', "Ed's Pizza House", 'Restaurants, Pizza', 1, 1.5),
 ('u8AetejFjM4g2vfwaNHx7w', 'Dairy Queen', 'Restaurants, Fast Food, Food, Burgers, Ice Cream & Frozen Yogurt', 1, 1.5),
 ('WXwRcHGaV8W3twAOJtWlew', 'Village Burger', 'Restaurants, Burgers, Food, Food Trucks', 1, 1.5),
 ('6jwmTTcGO5oy2JSa96WLzw', "Wendy's", 'Restaurants, Burgers, Fast Food', 1, 1.5),
 ('6UzLtXTdLJKNHmn70J29Ig', 'Taco Bell', 'Restaurants, Mexican, Fast Food, Tex-Mex', 1, 1.5),
 ('nGFWg8F1dvDW3iasvyOEBg', "McDonald's", 'Restaurants, Coffee & Tea, Food, Burgers, Fast Food', 1, 1.5),
 ('oyphMnt1nOKvWxB98R5oJw', "Wendy's", 'Restaurants, Burgers, Fast Food', 1, 1.5),
 ('SsVIglGdHvMKAgj1WMlNsQ', "Domino's Pizza", 'Restaurants, Italian, Chicken Wings, Pizza, Sandwiches', 1, 1.5),
 ('tVfJPW14AeuAHDJeleWWdQ', "Dunkin'", 'Restaurants, Coffee & Tea, Food, Donuts', 1, 1.5),
 ('FFaR1oEJbzjn7CohqIt6TQ', 'Chipotle Mexican Grill', 'Restaurants, Mexican, Fast Food', 1, 1.5)]

In [ ]:
t3 = business[(business['is_open'] == 1) & (business['categories'].str.contains('Rest')) & 
              (business['state'] == "PA")][['business_id', 'name', 'categories', 'is_open',  'stars']].sort_values(by = ['stars'], ascending = False)

t3.head(10)

#Query 4

As we get more data, we can track negative reviews with this query periodically to understand the pulse of the audience in fast food chains.

In [ ]:
%%sql

SELECT b.name, b.categories, t.text, b.is_open, b.stars
from business AS b
LEFT JOIN tip AS t
ON b.business_id = t.business_id
where categories LIKE "Rest%" 
AND is_open=1 
AND state = "PA"
AND text != "None"
AND stars < 3.0
ORDER BY 5;

 * mysql://team4:***@badm-database.cte4bvaqxbgn.us-east-2.rds.amazonaws.com:3306
2 rows affected.

[("Wendy's", 'Restaurants, Fast Food, Burgers', 'Only the finest, for me and my kin.', 1, 2.0),
 ("Bogart's Bar & Grill", 'Restaurants, Sports Bars, Desserts, American (Traditional), Bars, Food, Nightlife', 'Really good sight lines to the TVs from the bar!', 1, 2.5)]

In [ ]:
table2 = pd.merge(business, tip, left_on = ['business_id'], right_on = ['business_id'], how = 'left')

t4 = table2[(table2['is_open'] == 1) & (table2['categories'].str.contains('Rest')) & (table2['state'] == "PA") & (table2['text'].notna()) & 
            (table2['stars'] < 3.0)][['name', 'categories', 'text', 'is_open', 'stars']].sort_values(by = ['stars'], ascending = True)

t4.head(10)

# Query 5
Which are the fast food restaurants in PA which have the most useful reviews?

In [ ]:
%%sql

SELECT b.name, b.categories, r.useful, b.is_open, b.stars
from business AS b
LEFT JOIN review AS r
ON b.business_id = r.business_id
where categories LIKE "FAST%" 
AND is_open=1 
AND b.state = "PA"
AND b.stars < 3.0
AND r.useful != "None"
ORDER BY 3 desc;

 * mysql://team4:***@badm-database.cte4bvaqxbgn.us-east-2.rds.amazonaws.com:3306
5 rows affected.

[("Wendy's", 'Fast Food, Restaurants, Burgers', 12, 1, 1.5),
 ('Burger King', 'Fast Food, Restaurants, Burgers', 6, 1, 2.0),
 ('Checkers', 'Fast Food, Burgers, Restaurants', 2, 1, 1.5),
 ('Checkers', 'Fast Food, Burgers, Restaurants', 1, 1, 1.5),
 ('Checkers', 'Fast Food, Burgers, Restaurants', 1, 1, 1.5)]

In [ ]:
t5 = table1[(table1['is_open'] == 1) & (table1['categories'].str.contains('Fast')) & (table1['state'] == "PA") &  
            (table1['stars_x'] < 3.0) & (table1['useful'].notna()) ][['name', 'categories', 'useful', 'is_open', 'stars_x']].sort_values(by = [ 'useful'], ascending = False)

t5.head(10)

#Query 6
This will help us understand have users added photos and what kind of complimets do fast food resturants usually get.

In [ ]:
%%sql

select b.categories, u.compliment_photos, u.compliment_cool
from business b 
inner join review r on b.business_id= r.business_id 
inner join user u on r.user_id= u.user_id
where b.categories LIKE "Fast%"
order by u.compliment_photos Desc
limit 50

 * mysql://team4:***@badm-database.cte4bvaqxbgn.us-east-2.rds.amazonaws.com:3306
5 rows affected.

[('Fast Food, Restaurants, Food, Burgers, Coffee & Tea', 5, 57),
 ('Fast Food, Restaurants, Mexican', 5, 43),
 ('Fast Food, Burgers, Restaurants', 5, 40),
 ('Fast Food, Burgers, Restaurants', 0, 0),
 ('Fast Food, Burgers, Restaurants', 0, 1)]

In [ ]:
bus_rev_inner = pd.merge(business, review, left_on = ['business_id'], right_on = ['business_id'], how = 'inner')

inner_table2 = pd.merge(inner_table2, user, left_on = ['user_id'], right_on = ['user_id'], how = 'inner')

table6 = inner_table2[inner_table2['categories'].str.contains('Fast')][['categories', 'compliment_photos', 'compliment_cool'].sort_values(by = ['compliment_photos'], ascending = False)
table6.head(5)

#Query 7
The query help us to understand the users of different categories and the duration they have been suing yelp to understand who are users who have been giving reviews since long time. This will help us to target the customers for marketing.

In [ ]:
%%sql

select b.categories, u.name, u.yelping_since
from business b 
left join review r on b.business_id= r.business_id 
left join user u on r.user_id= u.user_id
where b.categories LIKE "Rest%"
AND b.state = "PA"
limit 50

 * mysql://team4:***@badm-database.cte4bvaqxbgn.us-east-2.rds.amazonaws.com:3306
50 rows affected.

[('Restaurants, Chinese, American (Traditional), Fast Food, Breakfast & Brunch', 'Robyn', '2009-04-11 14:35:46'),
 ('Restaurants, Cafes, Creperies', 'Robyn', '2009-04-11 14:35:46'),
 ('Restaurants, Food, Vegetarian, Organic Stores, Health Markets, Bakeries, Specialty Food, Grocery', 'Monica', '2009-02-23 14:08:31'),
 ('Restaurants, Food, Coffee & Tea', 'Mike', '2005-07-22 23:17:54'),
 ('Restaurants, Mediterranean', 'Danan', '2010-04-09 05:28:01'),
 ('Restaurants, Coffee Roasteries, Coffee & Tea, Food, Breakfast & Brunch, Sandwiches, Bagels', 'Danan', '2010-04-09 05:28:01'),
 ('Restaurants, Chinese, Szechuan', 'Danan', '2010-04-09 05:28:01'),
 ('Restaurants, Food, Specialty Food, Chinese', 'Warren', '2007-05-06 22:48:26'),
 ('Restaurants', 'Chris', '2006-08-10 03:37:38'),
 ('Restaurants, French', 'Chris', '2006-08-10 03:37:38'),
 ('Restaurants, Cajun/Creole', 'Linh', '2008-06-18 03:13:13'),
 ('Restaurants, Pizza', 'Shaggy', '2008-12-03 22:59:21'),
 ('Restaurants, Cajun/Creole', 'Gary', '2009-11-18 00:02:02'),
 ('Restaurants, Burgers, American (New), Food, American (Traditional), Nightlife, Bars, Cocktail Bars, Salad', 'Tom', '2008-03-31 01:11:13'),
 ('Restaurants, Vegan, Vegetarian', 'Tom', '2008-03-31 01:11:13'),
 ('Restaurants, Cajun/Creole', 'David', '2008-12-26 14:34:35'),
 ('Restaurants, Vegan, Vegetarian', 'Alexis', '2006-07-16 17:43:32'),
 ('Restaurants, Mediterranean, Moroccan', 'Zoe', '2007-08-25 02:36:44'),
 ('Restaurants, Chinese, Szechuan', 'Zoe', '2007-08-25 02:36:44'),
 ('Restaurants, Fast Food, Burgers, Coffee & Tea, Food', 'Mandy', '2011-08-30 13:46:26'),
 ('Restaurants, Thai, Vegetarian, Asian Fusion', 'Mandy', '2011-08-30 13:46:26'),
 ('Restaurants, Food, Coffee & Tea', 'Louis', '2008-06-09 00:16:02'),
 ('Restaurants, Bars, American (New), Nightlife', 'Louis', '2008-06-09 00:16:02'),
 ('Restaurants, Bars, American (New), Nightlife', 'Kristin', '2010-05-18 03:07:02'),
 ('Restaurants, Sushi Bars, Desserts, Food, Japanese', 'Kristin', '2010-05-18 03:07:02'),
 ('Restaurants, Sushi Bars, Japanese', 'Joe', '2010-03-05 22:04:06'),
 ('Restaurants, Vietnamese', 'Christina', '2009-01-28 02:15:26'),
 ('Restaurants, Chinese', 'Nicole', '2010-09-12 06:40:28'),
 ('Restaurants, American (New), Burgers, Breakfast & Brunch, Sandwiches', 'Mallory', '2011-02-21 20:33:35'),
 ('Restaurants, Italian', 'Jeanny', '2011-08-12 00:20:54'),
 ('Restaurants, Vietnamese, Sandwiches, Local Flavor, Food Stands', 'Jae', '2010-07-11 14:26:36'),
 ('Restaurants, American (Traditional), Bars, Pubs, Nightlife, Gastropubs', 'Mikey', '2009-09-28 15:42:26'),
 ('Restaurants, Coffee & Tea, Sandwiches, Desserts, Food, Breakfast & Brunch', 'Holly', '2009-01-24 19:48:04'),
 ('Restaurants, Food, Convenience Stores, Beer, Wine & Spirits', 'ezekial', '2008-01-25 05:52:42'),
 ('Restaurants, Mexican', 'Karen', '2008-05-29 12:29:54'),
 ('Restaurants, Burgers, Food, Coffee & Tea, Fast Food', 'Karen', '2008-05-29 12:29:54'),
 ('Restaurants, Mexican', 'Karen', '2008-05-29 12:29:54'),
 ('Restaurants, Breakfast & Brunch, Coffee & Tea, Salad, Food, Mediterranean', 'Karen', '2008-05-29 12:29:54'),
 ('Restaurants, Food, Coffee & Tea, Sandwiches, Breakfast & Brunch, Cafes', 'Stephanie', '2011-01-29 01:59:48'),
 ('Restaurants, American (Traditional), Bars, Pubs, Nightlife, Gastropubs', 'Jake', '2011-03-23 00:35:47'),
 ('Restaurants, Mediterranean, Moroccan', 'Susan', '2008-09-24 16:53:58'),
 ('Restaurants, Food, Coffee & Tea', 'Martha', '2008-03-17 04:28:39'),
 ('Restaurants, Pizza', 'Martha', '2008-03-17 04:28:39'),
 ('Restaurants, Breakfast & Brunch, Coffee & Tea, Salad, Food, Mediterranean', 'Andrew', '2006-04-06 20:25:51'),
 ('Restaurants, Breakfast & Brunch, Food, Juice Bars & Smoothies, American (New), Coffee & Tea, Sandwiches', None, None),
 ('Restaurants, Seafood, Cafes, Italian', None, None),
 ('Restaurants, Delis, Salad, Sandwiches', None, None),
 ('Restaurants, Breakfast & Brunch, Delis, Sandwiches', None, None),
 ('Restaurants, Diners, Breakfast & Brunch, American (Traditional)', None, None),
 ('Restaurants, Nightlife, Bars, Sandwiches, Dive Bars', None, None)]

In [ ]:
table7 = inner_table2[inner_table2['categories'].str.contains("Rest") & inner_table2['state'] == 'PA'][['categories', 'name_x', 'yelping_since' ]]

table7.head(50)

Query 8 This will help us to understand the mode of payment to be used at resturants to set that particular payments in our resturant.

In [ ]:
%%sql

select count(b.business_id), b.categories
from business b 
where b.categories LIKE "Fast%"
AND b.attributes LIKE "%BusinessAcceptsCreditCards%"
AND b.state = "PA"
limit 50

 * mysql://team4:***@badm-database.cte4bvaqxbgn.us-east-2.rds.amazonaws.com:3306
1 rows affected.

[(102, 'Fast Food, Food, Restaurants, Coffee & Tea, Burgers')]

In [ ]:
table8 = business[business['categories'].str.contains('Fast') & business['attributes'].tolist().str.contains('BusinessAcceptsCreditCards') &
                  business['state'] == 'PA'][['business_id', 'categories']].agg({'business_id': "count"})

table8.head()

NameError: ignored

Query 9

To check the count of fastfood centers with and without Wifi as a service, to see if this is a neccessary requirement even for a Fastfood chain

In [ ]:
%%sql

select count(b.business_id), b.categories
from business b 
where b.categories LIKE "Fast%"
AND b.attributes NOT LIKE "%WiFi%"
AND b.state = "PA"
limit 50

 * mysql://team4:***@badm-database.cte4bvaqxbgn.us-east-2.rds.amazonaws.com:3306
1 rows affected.

[(42, 'Fast Food, Food, Burgers, Coffee & Tea, Restaurants')]

In [ ]:
table9 = business[business['categories'].str.contains('Fast') & (~business['attributes'].str.contains('WiFi')) &
                  business['state'] == 'PA'][['business_id', 'categories']].agg({'business_id': "count"})

table9.head()

In [ ]:
%%sql

select count(b.business_id), b.categories
from business b 
where b.categories LIKE "Fast%"
AND b.attributes LIKE "%WiFi%"
AND b.state = "PA"
limit 50

 * mysql://team4:***@badm-database.cte4bvaqxbgn.us-east-2.rds.amazonaws.com:3306
1 rows affected.

[(71, 'Fast Food, Food, Restaurants, Coffee & Tea, Burgers')]

In [ ]:
table9_b = business[business['categories'].str.contains('Fast') & (business['attributes'].str.contains('WiFi')) &
                  business['state'] == 'PA'][['business_id', 'categories']].agg({'business_id': "count"})

table9_b.head()

Query 10

To check what is the most common operating days and hours of the day to understand the operational time for a fastfood restaurants and optimise the business during that time.

In [ ]:
%%sql

select b.hours, b.categories
from business b 
where b.categories LIKE "Fast%"
AND b.state = "PA"
limit 50

 * mysql://team4:***@badm-database.cte4bvaqxbgn.us-east-2.rds.amazonaws.com:3306
50 rows affected.

[('{"Friday": "6:0-1:0", "Monday": "6:0-0:0", "Sunday": "6:0-0:0", "Tuesday": "6:0-0:0", "Saturday": "6:0-1:0", "Thursday": "6:0-0:0", "Wednesday": "6:0-0:0"}', 'Fast Food, Food, Restaurants, Coffee & Tea, Burgers'),
 ('{"Friday": "0:0-0:0", "Monday": "6:0-23:0", "Sunday": "4:0-23:0", "Tuesday": "6:0-23:0", "Saturday": "0:0-0:0", "Thursday": "6:0-4:0", "Wednesday": "6:0-23:0"}', 'Fast Food, Food, Burgers, Coffee & Tea, Restaurants'),
 ('{"Friday": "10:0-2:0", "Monday": "10:0-1:0", "Sunday": "10:0-1:0", "Tuesday": "10:0-1:0", "Saturday": "10:0-2:0", "Thursday": "10:0-1:0", "Wednesday": "10:0-1:0"}', 'Fast Food, Restaurants, Burgers'),
 ('{"Friday": "5:0-0:0", "Monday": "5:0-0:0", "Sunday": "5:0-0:0", "Tuesday": "5:0-0:0", "Saturday": "5:0-0:0", "Thursday": "5:0-0:0", "Wednesday": "5:0-0:0"}', 'Fast Food, Burgers, Coffee & Tea, Food, Restaurants'),
 ('{"Friday": "0:0-0:0", "Monday": "0:0-0:0", "Sunday": "0:0-0:0", "Tuesday": "0:0-0:0", "Saturday": "0:0-0:0", "Thursday": "0:0-0:0", "Wednesday": "0:0-0:0"}', 'Fast Food, Restaurants, Food, Coffee & Tea, Burgers'),
 ('{"Friday": "11:0-20:0", "Saturday": "11:0-21:0", "Thursday": "11:0-20:0", "Wednesday": "11:0-20:0"}', 'Fast Food, Caribbean, Restaurants'),
 ('{"Friday": "0:0-0:0", "Monday": "0:0-0:0", "Sunday": "0:0-0:0", "Tuesday": "0:0-0:0", "Saturday": "0:0-0:0", "Thursday": "0:0-0:0", "Wednesday": "0:0-0:0"}', 'Fast Food, Food, Restaurants, Coffee & Tea, Burgers'),
 ('{"Friday": "10:30-21:0", "Monday": "0:0-0:0", "Tuesday": "10:30-21:0", "Saturday": "10:30-21:0", "Thursday": "10:30-21:0", "Wednesday": "10:30-21:0"}', 'Fast Food, Italian, Vegetarian, Burgers, Vegan, Restaurants, Pizza, Chicken Wings'),
 ('{"Friday": "11:0-22:0", "Monday": "11:0-22:0", "Sunday": "11:0-22:0", "Tuesday": "11:0-22:0", "Saturday": "11:0-22:0", "Thursday": "11:0-22:0", "Wednesday": "11:0-22:0"}', 'Fast Food, Restaurants, Food, Burgers, American (New)'),
 ('{"Friday": "10:0-17:0", "Monday": "10:0-5:0", "Tuesday": "10:0-5:0", "Saturday": "10:0-17:0", "Thursday": "10:0-5:0", "Wednesday": "10:0-5:0"}', 'Fast Food, Burgers, Restaurants'),
 ('{"Friday": "10:0-6:0", "Monday": "10:0-4:0", "Sunday": "10:0-4:0", "Tuesday": "10:0-4:0", "Saturday": "10:0-6:0", "Thursday": "10:0-4:0", "Wednesday": "10:0-4:0"}', 'Fast Food, Burgers, Restaurants'),
 ('{"Friday": "12:0-0:0", "Sunday": "11:0-18:0", "Tuesday": "12:0-22:0", "Saturday": "12:0-0:0", "Thursday": "12:0-22:0", "Wednesday": "12:0-22:0"}', 'Fast Food, Food Delivery Services, Desserts, American (New), Food Trucks, Restaurants, Chinese, Pizza, Food, Cheesesteaks'),
 ('{"Friday": "10:30-23:0", "Monday": "10:30-22:0", "Sunday": "10:30-22:0", "Tuesday": "10:30-22:0", "Saturday": "10:30-23:0", "Thursday": "10:30-22:0", "Wednesday": "10:30-22:0"}', 'Fast Food, Chicken Wings, Chicken Shop, Restaurants'),
 ('{"Friday": "6:0-20:0", "Monday": "6:0-0:0", "Sunday": "6:0-20:0", "Tuesday": "6:0-0:0", "Saturday": "6:0-0:0", "Thursday": "6:0-0:0", "Wednesday": "6:0-0:0"}', 'Fast Food, Restaurants, Burgers'),
 ('{"Friday": "6:30-21:0", "Monday": "6:30-21:0", "Tuesday": "6:30-21:0", "Saturday": "6:30-21:0", "Thursday": "6:30-21:0", "Wednesday": "6:30-21:0"}', 'Fast Food, Chicken Shop, Restaurants'),
 ('null', 'Fast Food, Restaurants, Food, Pretzels, Bakeries'),
 ('{"Friday": "11:30-22:0", "Sunday": "11:30-21:0", "Tuesday": "11:30-21:0", "Saturday": "11:30-22:0", "Thursday": "11:30-21:0", "Wednesday": "11:30-21:0"}', 'Fast Food, Pizza, Restaurants'),
 ('{"Friday": "11:0-21:0", "Monday": "0:0-0:0", "Sunday": "11:0-21:0", "Tuesday": "11:0-21:0", "Saturday": "11:0-21:0", "Thursday": "11:0-16:0", "Wednesday": "11:0-21:0"}', 'Fast Food, American (Traditional), Burgers, Hot Dogs, Restaurants'),
 ('{"Friday": "11:0-20:0", "Monday": "11:0-21:0", "Sunday": "11:0-21:0", "Tuesday": "11:0-21:0", "Saturday": "12:0-21:0", "Thursday": "11:0-21:0", "Wednesday": "11:0-21:0"}', 'Fast Food, Caterers, Mexican, Event Planning & Services, Restaurants'),
 ('{"Friday": "11:0-23:0", "Monday": "11:0-22:0", "Sunday": "11:0-22:0", "Tuesday": "11:0-22:0", "Saturday": "11:0-23:0", "Thursday": "11:0-22:0", "Wednesday": "11:0-22:0"}', 'Fast Food, Restaurants'),
 ('{"Friday": "10:45-22:0", "Monday": "0:0-0:0", "Sunday": "10:45-22:0", "Tuesday": "10:45-22:0", "Saturday": "10:45-22:0", "Thursday": "10:45-22:0", "Wednesday": "10:45-22:0"}', 'Fast Food, Restaurants, Mexican'),
 ('{"Friday": "10:30-22:0", "Tuesday": "10:30-21:0", "Saturday": "10:30-22:0", "Thursday": "10:30-21:0", "Wednesday": "10:30-21:0"}', 'Fast Food, Italian, Street Vendors, Cheesesteaks, Restaurants, Food'),
 ('null', 'Fast Food, Restaurants, Burgers'),
 ('{"Friday": "10:0-23:0", "Monday": "10:0-22:0", "Sunday": "10:0-22:0", "Tuesday": "10:0-23:0", "Saturday": "10:0-23:0", "Thursday": "10:0-23:0", "Wednesday": "10:0-23:0"}', 'Fast Food, Restaurants, Specialty Food, Food, American (Traditional), Pizza, Italian, Pasta Shops'),
 ('null', 'Fast Food, Restaurants, Indian, Pakistani'),
 ('{"Friday": "11:0-0:0", "Monday": "11:0-23:0", "Sunday": "11:0-23:0", "Tuesday": "11:0-23:0", "Saturday": "11:0-0:0", "Thursday": "11:0-23:0", "Wednesday": "11:0-23:0"}', 'Fast Food, Breakfast & Brunch, Juice Bars & Smoothies, Desserts, Burgers, Restaurants, Food'),
 ('{"Friday": "10:30-21:0", "Monday": "10:30-21:0", "Sunday": "11:0-20:0", "Tuesday": "10:30-21:0", "Saturday": "10:30-21:0", "Thursday": "10:30-21:0", "Wednesday": "10:30-21:0"}', 'Fast Food, Restaurants, Burgers, Hot Dogs, American (Traditional)'),
 ('{"Friday": "10:30-23:0", "Monday": "10:30-23:0", "Sunday": "10:30-23:0", "Tuesday": "10:30-23:0", "Saturday": "10:30-23:0", "Thursday": "10:30-23:0", "Wednesday": "10:30-23:0"}', 'Fast Food, Chicken Wings, Chicken Shop, Restaurants'),
 ('{"Friday": "7:0-23:0", "Monday": "7:0-23:0", "Sunday": "7:0-23:0", "Tuesday": "7:0-23:0", "Saturday": "7:0-23:0", "Thursday": "7:0-23:0", "Wednesday": "7:0-23:0"}', 'Fast Food, Restaurants, Chicken Wings'),
 ('{"Friday": "10:45-22:0", "Monday": "0:0-0:0", "Sunday": "10:45-22:0", "Tuesday": "10:45-22:0", "Saturday": "10:45-22:0", "Thursday": "10:45-22:0", "Wednesday": "10:45-22:0"}', 'Fast Food, Restaurants, Mexican'),
 ('{"Friday": "10:0-23:0", "Monday": "10:0-22:0", "Sunday": "10:0-22:0", "Tuesday": "10:0-22:0", "Saturday": "10:0-23:0", "Thursday": "10:0-22:0", "Wednesday": "10:0-22:0"}', 'Fast Food, Chicken Wings, American (Traditional), Restaurants'),
 ('{"Friday": "0:0-0:0", "Monday": "0:0-0:0", "Sunday": "0:0-0:0", "Tuesday": "0:0-0:0", "Saturday": "0:0-0:0", "Thursday": "0:0-0:0", "Wednesday": "0:0-0:0"}', 'Fast Food, Burgers, Restaurants, Food, Coffee & Tea'),
 ('{"Friday": "10:30-20:0", "Monday": "10:30-20:0", "Sunday": "10:30-20:0", "Tuesday": "10:30-20:0", "Saturday": "10:30-20:0", "Thursday": "10:30-20:0", "Wednesday": "10:30-20:0"}', 'Fast Food, Restaurants, Chicken Wings, Chicken Shop'),
 ('{"Friday": "5:30-0:0", "Monday": "5:30-23:0", "Sunday": "5:30-23:0", "Tuesday": "5:30-23:0", "Saturday": "5:30-0:0", "Thursday": "5:30-23:0", "Wednesday": "5:30-23:0"}', 'Fast Food, Restaurants, Food, Coffee & Tea, Burgers'),
 ('{"Friday": "10:30-23:0", "Monday": "10:30-22:0", "Sunday": "10:30-22:0", "Tuesday": "10:30-22:0", "Saturday": "10:30-23:0", "Thursday": "10:30-22:0", "Wednesday": "10:30-22:0"}', 'Fast Food, Restaurants, Food, Burgers, Ice Cream & Frozen Yogurt'),
 ('{"Friday": "7:0-21:0", "Monday": "7:0-21:0", "Sunday": "8:0-21:0", "Tuesday": "7:0-21:0", "Saturday": "8:0-21:0", "Thursday": "7:0-21:0", "Wednesday": "7:0-21:0"}', 'Fast Food, Restaurants, Delis, Sandwiches, Event Planning & Services, Cheesesteaks, American (New), Caterers'),
 ('{"Friday": "0:0-0:0", "Monday": "0:0-0:0", "Sunday": "0:0-0:0", "Tuesday": "0:0-0:0", "Saturday": "0:0-0:0", "Thursday": "0:0-0:0", "Wednesday": "0:0-0:0"}', 'Fast Food, Coffee & Tea, Burgers, Food, Restaurants'),
 ('{"Friday": "6:0-20:0", "Monday": "6:0-23:0", "Sunday": "6:0-0:0", "Tuesday": "6:0-23:0", "Saturday": "9:0-23:59", "Thursday": "6:0-23:0", "Wednesday": "6:0-23:0"}', 'Fast Food, Burgers, Restaurants'),
 ('{"Friday": "0:0-0:0", "Monday": "5:30-0:0", "Sunday": "5:30-0:0", "Tuesday": "5:30-0:0", "Saturday": "0:0-0:0", "Thursday": "5:30-0:0", "Wednesday": "5:30-0:0"}', 'Fast Food, Restaurants, Food, Coffee & Tea, Burgers'),
 ('{"Friday": "11:0-21:0", "Monday": "0:0-0:0", "Sunday": "11:0-21:0", "Tuesday": "11:0-21:0", "Saturday": "11:0-21:0", "Thursday": "11:0-21:0", "Wednesday": "11:0-21:0"}', 'Fast Food, Poke, Food, Restaurants, Hawaiian, Japanese'),
 ('{"Friday": "10:45-22:0", "Monday": "0:0-0:0", "Sunday": "10:45-22:0", "Tuesday": "10:45-22:0", "Saturday": "10:45-22:0", "Thursday": "10:45-22:0", "Wednesday": "10:45-22:0"}', 'Fast Food, Food, Restaurants, Mexican'),
 ('{"Friday": "10:0-2:0", "Monday": "10:0-2:0", "Sunday": "10:0-2:0", "Tuesday": "10:0-2:0", "Saturday": "10:0-2:0", "Thursday": "10:0-2:0", "Wednesday": "10:0-2:0"}', 'Fast Food, Restaurants, Burgers'),
 ('{"Friday": "11:0-22:0", "Monday": "11:0-22:0", "Sunday": "11:0-22:0", "Tuesday": "11:0-22:0", "Saturday": "11:0-22:0", "Thursday": "11:0-22:0", "Wednesday": "11:0-22:0"}', 'Fast Food, Restaurants, Burgers'),
 ('{"Friday": "5:0-23:0", "Monday": "5:0-22:0", "Sunday": "5:0-22:0", "Tuesday": "5:0-22:0", "Saturday": "5:0-23:0", "Thursday": "5:0-22:0", "Wednesday": "5:0-22:0"}', 'Fast Food, Food, Restaurants, Burgers, Coffee & Tea'),
 ('{"Friday": "0:0-0:0", "Monday": "0:0-0:0", "Sunday": "0:0-0:0", "Tuesday": "0:0-0:0", "Saturday": "0:0-0:0", "Thursday": "0:0-0:0", "Wednesday": "0:0-0:0"}', 'Fast Food, Restaurants, Burgers, Coffee & Tea, Food'),
 ('{"Friday": "10:30-21:0", "Monday": "10:30-21:0", "Sunday": "11:0-20:0", "Tuesday": "10:30-21:0", "Saturday": "10:30-21:0", "Thursday": "10:30-21:0", "Wednesday": "10:30-21:0"}', 'Fast Food, Restaurants, Burgers'),
 ('{"Friday": "10:0-0:0", "Monday": "10:0-0:0", "Sunday": "10:0-0:0", "Tuesday": "10:0-0:0", "Saturday": "10:0-0:0", "Thursday": "10:0-0:0", "Wednesday": "10:0-0:0"}', 'Fast Food, Restaurants, Burgers'),
 ('{"Friday": "7:0-23:0", "Monday": "7:0-23:0", "Sunday": "7:0-23:0", "Tuesday": "7:0-23:0", "Saturday": "7:0-23:0", "Thursday": "7:0-23:0", "Wednesday": "7:0-23:0"}', 'Fast Food, Southern, Restaurants, American (Traditional), Chicken Wings'),
 ('{"Friday": "10:0-6:0", "Monday": "10:0-4:0", "Sunday": "10:0-4:0", "Tuesday": "10:0-4:0", "Saturday": "10:0-6:0", "Thursday": "10:0-5:0", "Wednesday": "10:0-4:0"}', 'Fast Food, Burgers, Restaurants'),
 ('{"Friday": "11:0-21:0", "Monday": "11:0-21:0", "Sunday": "11:0-21:0", "Tuesday": "11:0-21:0", "Saturday": "11:0-21:0", "Thursday": "11:0-21:0", "Wednesday": "11:0-21:0"}', 'Fast Food, Delis, Sandwiches, Restaurants')]

In [ ]:
table10 = business[business['categories'].str.contains('Fast') &
                  business['state'] == 'PA'][['hours', 'categories']]

table10.head(50)